<div
	class="about__content px-7 py-9 bg-white drop-shadow-2xl rounded-2xl mb-8 xl:mb-16 text-center"
>
	<h2 class="about__title section-title">What is Kennekt</h2>
	<p class="text-grey mb-3 xl:mb-5 text-sm xl:text-lg">
		Kennekt is an easy system that quickly connects clients to businesses
		and businesses to clients. As a client, you've probably been put on hold
		for a long time, transferred to the wrong department or weren't able to
		reach who you wanted. Businesses can quickly create a mobile app
		presence using Kennekt. A business would quickly register and identify
		what its departments and sub-departments are. Within minutes, a business
		can offer its clients a higher level of service and quick communication.
		Having a quick pulse on your clients will surely enhance your clients
		experience and satisfaction.
	</p>
	<!--			<a-->
	<!--				href="#"-->
	<!--				class="text-lg text-primary font-bold transition hover:text-primary-lighter"-->
	<!--				>Learn more &#8594;</a-->
	<!--			>-->
</div>
