<div class="brands mb-4">
	<div class="brands__inner xl:max-w-[1100px] mx-auto py-6">
		<div
			class="brands__list flex items-center gap-x-16 justify-center py-4 px-4"
		>
			<div class="brands__item">
				<img class="max-w-none" src="assets/img/logo-airbnb.svg" alt="" />
			</div>
			<div class="brands__item">
				<img class="max-w-none" src="assets/img/logo-hubspot.svg" alt="" />
			</div>
			<div class="brands__item">
				<img class="max-w-none" src="assets/img/logo-google.svg" alt="" />
			</div>
			<div class="brands__item">
				<img class="max-w-none" src="assets/img/logo-microsoft.svg" alt="" />
			</div>
			<div class="brands__item">
				<img class="max-w-none" src="assets/img/logo-walmart.svg" alt="" />
			</div>
			<div class="brands__item">
				<img class="max-w-none" src="assets/img/logo-fedex.svg" alt="" />
			</div>
		</div>
	</div>
</div>
