<footer class="page-footer py-8 px-3 xl:pt-24 xl:pb-32  xl:px-0">
	<div class="page-footer__inner xl:max-w-[1100px] mx-auto xl:flex justify-between text-white">
		<div class="page-footer__left">
			<div class="page-footer__logo mb-6">
				<img src="assets/img/logo-kennekt-dark.svg" alt="">
			</div>
			<div class="page-footer__links mb-3">
				<div class="flex">
					<a href="#" class="page-footer__link text-base block mr-6 transition hover:text-primary-lighter">Download Now</a>
					<a href="#" class="page-footer__link">License</a>
				</div>
			</div>
			<div class="page-footer__links mb-6">
				<div class="flex flex-wrap">
					<a href="#" class="page-footer__link  text-base block mr-6 transition hover:text-primary-lighter">About</a>
					<a href="#" class="page-footer__link  text-base block mr-6 transition hover:text-primary-lighter">Features</a>
					<a href="#" class="page-footer__link  text-base block mr-6 transition hover:text-primary-lighter">Pricing</a>
					<a href="#" class="page-footer__link  text-base block mr-6 transition hover:text-primary-lighter">Careers</a>
					<a href="#" class="page-footer__link  text-base block mr-6 transition hover:text-primary-lighter">Help</a>
					<a href="#" class="page-footer__link">Privacy Policy</a>
				</div>
			</div>
			<div class="page-footer__copyright text-grey-light text-sm">© 2021 Kennekt. All rights reserved</div>
		</div>
		<div class="page-footer__right mt-8 xl:mt-0 flex flex-col justify-center items-center  xl:block">
			<div class="column-title text-lg mb-4 font-medium text-grey-light">Get the App</div>
			<div class="app-download-col  ">
				<a href="#" class="footer-app block w-32 h-10 mb-4 transition hover:scale-105">
					<img src="assets/img/badge-app-store.png" alt="">
				</a>
				<a href="#" class="footer-app block w-32 h-10 transition hover:scale-105">
					<img src="assets/img/badge-play-market.png" alt="">
				</a>
			</div>
		</div>
	</div>
</footer>
