<header class="page-header">
	<div class="page-header__inner xl:max-w-[1100px] mx-auto
        flex items-center xl:py-4 p-2
        md:px-4 xl:px-0 justify-between xl:justify-start relative xl:static">
		<div class="page-header__logo-btn-wrapper flex items-center">
			<button class="xl:hidden mr-2 text-3xl text-primary hamburger-btn w-8 h-8 flex-center-xy">
				<svg class="hamburger hamburger_idle " stroke="currentColor" fill="currentColor"
						 stroke-width="0"
						 viewBox="0 0 512 512" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">
					<path d="M32 96v64h448V96H32zm0 128v64h448v-64H32zm0 128v64h448v-64H32z"></path>
				</svg>
				<div class="w-6 h-6 border  border-primary text-primary rounded relative hamburger_close flex-center-xy">
					<svg class="m-0" stroke="currentColor" fill="currentColor" stroke-width="0"
							 viewBox="0 0 24 24"
							 height="1rem" width="1rem" xmlns="http://www.w3.org/2000/svg">
						<path fill="currentColor" stroke="currentColor" stroke-width="2"
									d="M3,3 L21,21 M3,21 L21,3"></path>
					</svg>
				</div>
			</button>
			<div class="page-header__logo xl:mr-8">
				<a href="/" class="block">
					<img src="{{ settings.siteRoot }}/assets/img/logo-kennekt.svg" alt="Kennekt logo"/>
				</a>
			</div>
		</div>
		<div class="page-header__nav xl:grow order-first xl:order-none
                        xl:static absolute top-full w-64 bg-white drop-shadow-xl xl:drop-shadow-none
                        p-4 xl:p-0 rounded-xl border opacity-0  pointer-events-none xl:opacity-100  xl:border-0
                        xl:pointer-events-auto translate-y-4 xl:translate-y-0 xl:w-auto">
			<ul class="page-header__nav-list list-none m-0 p0 xl:flex xl:gap-x-8 items-center ">
{#				<li class="relative mb-2 xl:m-0  page-header__nav-item page-header__nav-item_has-menu"><a#}
{#						class="page-header__link flex items-center " href="#">#}
{#						<span>Feature</span>#}
{#						<svg class="ml-2 transition" width="12" height="6" fill="currentColor"#}
{#								 xmlns="http://www.w3.org/2000/svg">#}
{#							<path fill-rule="evenodd" clip-rule="evenodd"#}
{#										d="M.97.22a.75.75 0 0 1 1.06 0L6 4.19 9.97.22a.75.75 0 1 1 1.06 1.06l-4.5 4.5a.75.75 0 0 1-1.06 0l-4.5-4.5a.75.75 0 0 1 0-1.06Z"#}
{#										fill="currentColor"/>#}
{#						</svg>#}
{#					</a>#}
{#					<div class="page-header__dropdown z-10 rounded-xl bg-white w-64#}
{#                    drop-shadow-xl absolute#}
{#                      opacity-0 top-8 border translate-y-4 pointer-events-none">#}
{#						<ul class="list-none">#}
{#							{% for navFeat in navFeatures %}#}
{#							<li>#}
{#								<a href="/feature/{{ navFeat.name | slug }}" class="nav-link">{{ navFeat.name  }}</a>#}
{#							</li>#}
{#							{% endfor %}#}
{#							<li class="px-5 pb-4 mt-2">#}
{#								<a href="#"#}
{#									 class="block btn btn-outlined btn-normal btn-outlined-primary-lighter">#}
{#									See all features#}
{#								</a>#}
{#							</li>#}
{#						</ul>#}
{#					</div>#}
{#				</li>#}
				{% for nav in navigation %}
					<li class="mb-2 xl:m-0"><a class="page-header__link" href="{{ nav.link }}">{{ nav.title }}</a></li>
				{% endfor %}
			</ul>
		</div>
		<div class="page-header__btns flex items-center ml-auto">
			<a href="#" class="block btn btn-light btn-normal mr-2 xl:mr-3.5">
				Login
			</a>
			<a href="#" class="block btn btn-dark btn-normal">
				<span class="whitespace-nowrap">Try it</span>
				<span class="hidden xl:inline">for free</span>
			</a>

		</div>
	</div>
</header>
