html,
body {
	height: 100%;
	margin: 0;
}
:root {
	--primary-color: #00a09d;
}

.outer-wrapper {
	height: 100%;
	grid-template-columns: 1fr;
	grid-template-rows: 76px 1fr auto;
}

.page-header__link:hover svg {
	transform: rotate(180deg);
}
.page-header__nav,
.page-header__dropdown {
	transition: visibility 0s 0.5s, opacity 0.3s ease-out,
		transform 0.5s cubic-bezier(0, 1, 0.5, 1),
		-webkit-transform 0.5s cubic-bezier(0, 1, 0.5, 1);
}
.page-header__nav.opened,
.page-header__nav-item_has-menu:hover .page-header__dropdown {
	transform: none;
	opacity: 1;
	pointer-events: auto;
	transition: opacity 0.3s ease-out, transform 0.5s cubic-bezier(0, 1, 0.5, 1),
		-webkit-transform 0.5s cubic-bezier(0, 1, 0.5, 1);
}

.page-header__dropdown::before {
	position: absolute;
	content: "";
	width: 100%;
	height: 20px;
	background-color: transparent;
	top: -20px;
	left: 0;
}

.hamburger-btn.opened .hamburger_idle {
	display: none;
}

.hamburger-btn.opened .hamburger_close {
	display: flex;
}

.hamburger-btn:not(.opened) .hamburger_close {
	display: none;
}

.main-screen {
	height: calc(100vh - 76px);
}

.main-screen__inner {
	display: grid;
	grid-template-columns: 1fr 668px 432px 1fr;
	justify-content: center;
}

.main-screen__content {
	grid-column: 2 / span 1;
}

.main-screen__figure {
	justify-self: end;
	grid-column: span 2 /-1;
}

.main-screen__figure img {
	height: calc(100vh - 76px);
	object-fit: contain;
}

.brands__inner {
	position: relative;
}
.brands__inner::after,
.brands__inner::before {
	content: "";
	position: absolute;
	height: 1px;
	left: 0;
	right: 0;
	background-image: linear-gradient(
		to right,
		transparent,
		rgba(192, 204, 218, 0.3),
		transparent
	);
}

.brands__inner::after {
	bottom: 0;
}
.brands__inner::before {
	top: 0;
}

.brands__list {
	overflow-y: hidden;
	overflow-x: auto;
	white-space: nowrap;
	-webkit-overflow-scrolling: touch;
}

.deals__top-curve {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	margin: 0 auto;
	height: 175px;
	background: radial-gradient(100% 96% at bottom, transparent 51%, white 51%);
}

.features {
	background-image: url("assets/img/bg-oval-2x.png");
	background-position: right bottom;
	background-size: 740px 1188px;
	background-repeat: no-repeat;
}

.features__descr {
	width: 670px;
}

.features__list {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(auto, 1fr));
	gap: 24px 80px;
}

.features__item {
	width: 100%;
}
.features__item:nth-child(4) ~ .features__item {
	display: none;
}

.features__list.reveal .features__item:nth-child(4) ~ .features__item {
	display: block;
}

.feature {
	grid-template-rows: 362px 1fr;
}

.feature__content {
	margin: 0 auto;
}

.features__image {
	width: 100%;
}

.upcoming {
	background-image: url("assets/img/bg-oval-left.png"),
		url("assets/img/bg-particles-3x.png"),
		linear-gradient(to bottom, #045e62 0%, #010a09 100%);
	background-position: 0 0, calc(100% - 60px) bottom, 0 0;
	background-size: 586px 1188px, 160px 170px, cover;
	background-repeat: no-repeat;
}

.upcoming__features-wrapper {
	border-radius: 20px;
	display: grid;
	margin: 0 auto;
	/*border: 1px solid black;*/
	grid-gap: 1px;
	background-color: black;
}

.upcoming__item {
	background-color: white;
}

.page-footer {
	background-color: #010a09;
}

@media (max-width: 1024px) {
	.outer-wrapper {
		grid-template-rows: 48px 1fr;
	}

	.intro {
		height: calc(100vh - 48px);
	}

	.main-screen {
		height: calc(100vh - 48px);
	}

	.main-screen__inner {
		display: flex;
		padding-left: 1rem;
		padding-right: 1rem;
		text-align: center;
	}

	.deals__top-curve {
		height: 100px;
	}

	.features {
		background-image: none;
	}

	.features__descr {
		width: auto;
	}

	.upcoming__features-wrapper {
		grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	}

	.upcoming__item {
		padding: 12px;
	}
}

@media (min-width: 1280px) {
	.intro {
		height: calc(100vh - 76px);
	}
	.main-screen__title {
		line-height: 1.2;
	}
	.feature__content {
		/*max-width: 410px;*/
	}

	.features__list {
		grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
		gap: 24px 80px;
	}

	.upcoming__title {
		width: 700px;
		line-height: 1.2;
	}

	.upcoming__features-wrapper {
		grid-template-columns: repeat(auto-fit, minmax(548px, 1fr));
	}

	.upcoming__item {
		padding: 45px 20px 56px 30px;
	}
}
