<!DOCTYPE html>
<html lang="en">
<head>

	<!-- https://github.com/joshbuchea/HEAD -->

	<!-- Recommended -->
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta content="ie=edge" http-equiv="x-ua-compatible">
	<!-- Elements -->
	<meta charset="utf-8">
	<!-- Meta -->
	<meta name="description" content="{{ metadata.description }}">
	<meta name="generator" content="11ty">

	<!-- Icons -->
	<!-- https://favicon.io/ -->
	<link rel="apple-touch-icon" sizes="180x180" href="{{ 'assets/apple-touch-icon.png' | url }}">
	<link rel="icon" type="image/png" sizes="32x32" href="{{ 'assets/favicon-32x32.png' | url }}">
	<link rel="icon" type="image/png" sizes="16x16" href="{{ 'assets/favicon-16x16.png' | url }}">
	<link rel="manifest" href="{{ 'assets/site.webmanifest' | url }}">
	<title>{{ title or metadata.title }}</title>
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700;800&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="{{ '/index.css' | url }}">
	<link rel="stylesheet" href="{{ '/custom-styles.css' | url }}">
</head>


<body class="font-inter ">
	<div class="outer-wrapper xl:grid">
		{% include '../header.njk' %}
		{{ content | safe }}
		{% include '../footer.njk' %}
	</div>
	<script src="{{ 'assets/js/main.js' }}"></script>
</body>
</html>
