---
layout: "layouts/base.njk"
---

<!--    Intro Begin-->
<div class="intro">
	<div class="main-screen">
		<div class="main-screen__inner h-full">
			<div
				class="main-screen__content h-full flex flex-col justify-center items-center xl:items-start"
			>
				<h1
					class="main-screen__title text-2xl xl:text-5xl text-kdark-black font-bold mb-2 xl:mb-4 leading-normal"
				>
					KENNEKT with accountability with your staff and clients
				</h1>
				<p class="text-grey text-sm xl:text-[18px] mb-8">
					Explore connecting with your staff and clients at a whole new level!
					Sign up now to see why businesses, staff & clients ALL love using
					KENNEKT.
				</p>
				<!--				<a href="#" class="block btn btn-dark btn-bigger mb-4 xl:mb-8">-->
				<!--					Get Started Now - It's Free-->
				<!--				</a>-->
				<p class="text-grey text-xs xl:text-base">
					By signing up, you agree to the Terms of Service
				</p>
			</div>
			<div
				class="main-screen__figure h-full items-start justify-end hidden xl:flex"
			>
				<picture>
					<img
						src="assets/pics/pic-main-screen-2x.png"
						srcset="
							assets/pics/pic-main-screen-2x.png 2x,
							assets/pics/pic-main-screen.png    1x
						"
						alt="Kennekt cases page interface"
					/>
				</picture>
			</div>
		</div>
	</div>
</div>
<!--    Intro End-->
<!--    Who are using section Begin-->
<!--{% include brands.html %}-->
<!--    Who are using section End-->
<!--    What Is Kennekt Begin-->
<div class="about py-8 xl:py-16 text-center px-6 xl:px-0">
	<div class="about__inner xl:max-w-[1100px] mx-auto">
		<div
			class="about__content px-7 py-9 bg-white drop-shadow-2xl rounded-2xl mb-8 xl:mb-16"
		>
			<h2 class="about__title section-title">What is Kennekt</h2>
			<p class="text-grey mb-3 xl:mb-5 text-sm xl:text-lg">
				Kennekt is an easy system that quickly connects clients to businesses
				and businesses to clients. As a client, you've probably been put on hold
				for a long time, transferred to the wrong department or weren't able to
				reach who you wanted. Businesses can quickly create a mobile app
				presence using Kennekt. A business would quickly register and identify
				what its departments and sub-departments are. Within minutes, a business
				can offer its clients a higher level of service and quick communication.
				Having a quick pulse on your clients will surely enhance your clients
				experience and satisfaction.
			</p>
			<!--			<a-->
			<!--				href="#"-->
			<!--				class="text-lg text-primary font-bold transition hover:text-primary-lighter"-->
			<!--				>Learn more &#8594;</a-->
			<!--			>-->
		</div>
		<div class="about__video max-w-4xl mx-auto">
			<iframe
				class="w-full aspect-video"
				src="https://www.youtube.com/embed/UFr_MsrOaeo"
				title="Youtube video player"
				allow="accelerometer: autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture;"
				allowfullscreen
				frameborder="0"
			>
			</iframe>
		</div>
	</div>
</div>
<!--    What Is Kennekt End-->
<!--    Keep your deals moving Begin-->
<div
	class="deals pt-28 xl:pt-52 pb-16 xl:pb-32 bg-brown-light relative px-3 xl:px-0"
>
	<div class="deals__top-curve"></div>
	<div class="deals__inner xl:max-w-[1100px] mx-auto text-center">
		<h2 class="deals__title section-title">Keep your deals moving!</h2>
		<div class="deals__description font-medium text-sm mb-3 xl:text-xl xl:mb-7">
			Now you can drag-and-drop multiple deals to other stages easily. Want
			something even simpler? Drag multiple deals to the stage overview, and
			drop them over the stage you want. Forget endlessly looking for that
			evading stage!
		</div>
		<div class="deals__img xl:max-w-5xl">
			<picture>
				<img
					src="assets/pics/pic-deals-2x.png"
					srcset="assets/pics/pic-deals-2x.png 2x, assets/pics/pic-deals.png 1x"
					alt="Kennekt cases page interface"
				/>
			</picture>
		</div>
	</div>
</div>
<!--    Keep your deals moving End-->
<!--    Tailor-made features Begin-->
{% include features.html %}
<!--    Tailor-made features End-->
<!--   Work anywhere, with any device Begin-->
{% include work-anywhere.html %}
<!--   Work anywhere, with any device End-->
<!--   Work anywhere, with any device Begin-->
{% include contact-us.njk %}
<!--   Work anywhere, with any device End-->
<!--  Upcoming features Begin-->
<div class="upcoming pt-8 pb-16 xl:pt-16 xl:pb-28 px-3 xl:px-0">
	<div class="upcoming__inner mx-auto">
		<div class="upcoming__subtitle text-primary-lighter text-center mb-4">
			There's more to begin than what meets the eye!
		</div>
		<h2
			class="upcoming__title section-title text-white mb-8 xl:mb-16 mx-auto text-center"
		>
			Here are some of our upcoming features in 2022
		</h2>
		<div class="upcoming__features-wrapper xl:max-w-[1100px] overflow-hidden">
			{% for upcomingFeature in upcoming %}
			<div class="upcoming__item">
				<div class="upcoming-feat flex">
					<div
						class="upcoming-feat__icon w-12 h-12 rounded-full bg-primary-lighter flex items-center justify-center shrink-0 mr-5"
					>
						<div class="w-7 h-7">
							<img
								class="w-full h-full object-cover"
								src="assets/img/{{upcomingFeature.icon}}.svg"
								alt=""
							/>
						</div>
					</div>
					<div class="upcoming-feat__content">
						<h3
							class="upcoming-feat__title font-bold text-xl xl:text-3xl text-kdark mb-2 xl:mb-3.5"
						>
							{{upcomingFeature.title}}
						</h3>
						<p class="upcoming-feat__descr text-sm xl:text-base font-medium">
							{{upcomingFeature.description}}
						</p>
					</div>
				</div>
			</div>
			{% endfor %}
		</div>
	</div>
</div>
